.ui-autocomplete {
    max-height: 300px;
    width: 580px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/

* html .ui-autocomplete {
    height: 300px;
}

.qaSystem {
    margin: 0px auto;
    width: 800px;
    position: relative;
    padding: 0px;
}

.qaSystem .QaShowDiv {
    width: 796;
    height: 400px;
    border: 2px solid #E5E5E5;
    overflow-y: scroll;
    font-size: 14px;
    color: #495060;
}

.qaSystem .QaSearchDiv {
    width: 776px;
    border: 2px solid #E5E5E5;
    padding: 10px;
}

.qaSystem .QaSearchDiv input {
    width: 500px;
    resize: none;
    border: 1px solid #E5E5E5;
    padding: 10px;
    vertical-align: middle;
}

.qaSystem .QaSearchDiv .qa_search_btn {
    background-color: #e2f8fb;
    border: 1px solid #00C1DE;
    color: #00C1DE;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.qaSystem .qa_clear_btn {
    background-color: #fff;
    border: 1px solid #e96900;
    color: #e96900;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
    text-align: center;
}

.qaSystem .childrenItem,
.qaSystem .childrenItem:hover {
    cursor: pointer;
    color: #00a2ca;
    font-size: 14px;
}

.qaSystem .ui-menu-item {
    font-size: 15px;
    color: #00a2ca;
}

.qaSystem ul li {
    list-style: none;
}

.qaSystem .right {
    background-color: rgb(58, 174, 255);
    color: white;
    float: right;
    margin: 10px;
}

.qaSystem .rightpop {
    padding: 10px 20px;
    min-width: 300px;
    max-width: 400px;
    font-size: 12px;
    border-radius: 5px;
}

.qaSystem .myIcon {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* background-image: url(icon/myIcon.png);
    background-size: 40px 40px; */
}

.qaSystem .qaIcon {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    /* background-image: url(icon/myIcon.png);
    background-size: 40px 40px; */
    /* background-position-x: -12px; */
    float: left;
    margin: 10px;
}

.qaSystem .leftpop {
    border: 1px solid #E5E5E5;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 600px;
    float: left;
    margin: 10px;
    background-color: rgb(247, 249, 250);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.qaSystem .leftpop>ul>li {
    padding-top: 5px;
}

.notice_bar {
    width: 100%;
    position: absolute;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #E5E5E5;
    color: #00a2ca;
    font-size: 16px;
    cursor: pointer;
}

.qaSystem th,
.qaSystem td {
    border: 1px solid #c6cbd1;
    padding: 6px 13px;
}

.qaSystem table {
    border-collapse: collapse;
}

.qaSystem blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
    margin-left: 0px;
}

.qaSystem pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.qa-viewImage img,
.qaSystem img {
    max-width: 100%;
}

.qa-viewImage {
    z-index: 501;
}

.qaSystem .qaSettingBtn {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: right;
    cursor: pointer;
}

.qaSystem .qaSettingDiv {
    width: 200px;
    height: 400px;
    right: 0px;
    position: absolute;
    background-color: rgb(247, 249, 250);
    border-left: 1px solid #E5E5E5;
    z-index: 1;
    display: none;
}

.qaSystem .QaDomainDiv {
    padding: 40px 20px;
}

.qaSystem .qaSettingCommon {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    cursor: pointer;
}

.qaSystem .qaSettingHide {
    bottom: 0px;
    background-color: #6a737d;
    color: white;
}

.qaSystem .qaSettingBtnBar {
    bottom: 30px;
    display: none;
}

.qaSystem .qaSettingBtnBar .qaSettingBtnSubmit {
    width: 49%;
    float: left;
    border: 1px solid #E5E5E5;
}

.qaSystem .qaSettingBtnBar .qaSettingBtnCancel {
    width: 49%;
    float: right;
    border: 1px solid #E5E5E5;
}

.qaSystem .qa_isLike {
    width: 50px;
    height: 100px;
    float: left;
    padding-top: 10px;
}

.qaSystem .qa_likeDiv {
    margin-bottom: 20px;
    cursor: pointer;
}

.qaSystem .qa_likeIcon {
    width: 40px;
    height: 40px;
    /* background-image: url(icon/like.png);
    background-size: 100%; */
}

.qaSystem .qa_dislikeIcon {
    width: 40px;
    height: 40px;
    /* background-image: url(icon/dislike.png);
    background-size: 100%; */
}

.qaSystem .qa_evaluate_message {
    position: absolute;
    top: 20px;
    left: 350px;
    width: 100px;
    text-align: center;
    z-index: 999;
    border-radius: 5px;
    line-height: 30px;
    background-color: rgb(58, 174, 255);
    color: #fff;
    display: none;
}